@using BlazorApp2.Models
@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<MyComponent @bind-MyProperty="myProp" />

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private MyTypeWithCast myProp = MyTypeWithCast.Create();
}
